@import 'variables';

.content {
  background-color: white;
  min-height: 100px;
  box-shadow: 2px 5px 5px $shadow-color;
  padding: 20px;
  color: $font-color-grey;

  & .title {
    color: $title-color !important;
    font-weight: bold;
    font-size: larger;
  }

  & .name {
    background-color: $body-color;
    color: $title-color;
    font-weight: bold;
    width: fit-content;
    padding-left: 5px;
    display: inline-block;
  }

  & .website, .phone, .location {
    background-color: $body-color;
    color: black;
    width: fit-content;
    font-size: smaller;
    padding-left: 5px;
    display: inline-block;
  }

  @media(max-width: $breakpoint-sm-max) {
    & .name, .website, .phone, .location {
      background-color: transparent !important;
    }
  }

  & .edit {
    cursor: pointer;
    color: $font-color-grey;
    background-color: $color-grey-light;
    background-image: none;
    border-color: transparent;
    padding-top: 5px;

    &:hover {
      background-color: $btn-logout-color;
      color: white;
    }
  }

  & .action {
    display: none;

    & .save {
      cursor: pointer;
      color: white;
      background-color: $btn-logout-color;
      background-image: none;
      border-color: transparent;
      padding-top: 5px;
      border-radius: 5px;
      border: 1px $btn-logout-color solid;
      min-width: 75px;
    }

    & .cancel {
      cursor: pointer;
      color: $btn-logout-color;
      background-color: white;
      background-image: none;
      border-color: transparent;
      padding-top: 5px;
      border-radius: 5px;
      border: 1px $btn-logout-color solid;
      min-width: 75px;
    }

    @media(max-width: $breakpoint-sm-max) {
      & .cancel, .save {
        background-color: transparent !important;
        border: 0px;
        color: $btn-logout-color !important;
        min-width: 50px;
      }
    }
  }
}

#about {
  display: block;
}

#setting, #option1, #option2, #option3 {
  display: none;
}
