.content {
  background-color: white;
  min-height: 100px;
  box-shadow: 2px 5px 5px #d1d1d1;
  padding: 20px;
  color: grey;
}
.content .title {
  color: black !important;
  font-weight: bold;
  font-size: larger;
}
.content .name {
  background-color: #F4F8F9;
  color: black;
  font-weight: bold;
  width: fit-content;
  padding-left: 5px;
  display: inline-block;
}
.content .website, .content .phone, .content .location {
  background-color: #F4F8F9;
  color: black;
  width: fit-content;
  font-size: smaller;
  padding-left: 5px;
  display: inline-block;
}
@media (max-width: 600px) {
  .content .name, .content .website, .content .phone, .content .location {
    background-color: transparent !important;
  }
}
.content .edit {
  cursor: pointer;
  color: grey;
  background-color: #e3e5e6;
  background-image: none;
  border-color: transparent;
  padding-top: 5px;
}
.content .edit:hover {
  background-color: #3E9DEB;
  color: white;
}
.content .action {
  display: none;
}
.content .action .save {
  cursor: pointer;
  color: white;
  background-color: #3E9DEB;
  background-image: none;
  border-color: transparent;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px #3E9DEB solid;
  min-width: 75px;
}
.content .action .cancel {
  cursor: pointer;
  color: #3E9DEB;
  background-color: white;
  background-image: none;
  border-color: transparent;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px #3E9DEB solid;
  min-width: 75px;
}
@media (max-width: 600px) {
  .content .action .cancel, .content .action .save {
    background-color: transparent !important;
    border: 0px;
    color: #3E9DEB !important;
    min-width: 50px;
  }
}

#about {
  display: block;
}

#setting, #option1, #option2, #option3 {
  display: none;
}

/*# sourceMappingURL=content.css.map */
