@media (max-width: 600px) {
  .header {
    background-color: white;
    margin-bottom: 20px;
    min-height: 60px;
    box-shadow: 2px 5px 5px #d1d1d1;
  }
  .header .profile {
    display: block;
  }
  .header .profile .avatar {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .header .profile .bio {
    align-self: center;
  }
  .header .profile .bio .name {
    font-size: larger;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
  }
  .header .profile .bio .review {
    color: grey;
    font-size: smaller;
  }
  .header .profile .bio .review .star {
    color: #3E9DEB;
  }
  .header .profile .bio .address {
    color: grey;
  }
  .header .profile .bio .phone {
    color: grey;
  }
  .header .logout {
    cursor: pointer;
    color: #3E9DEB;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }
  .header .logout:hover {
    background-color: #3E9DEB;
    color: white;
  }
  .header .upload {
    display: none;
    cursor: pointer;
    color: grey;
    background-color: transparent;
    background-image: none;
    border-color: grey;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .header .menu {
    border-top: 1px #d1d1d1 solid;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header .menu .nav-wrapper {
    max-width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
  .header .menu .nav-wrapper ul {
    list-style-type: none;
  }
  .header .menu .nav-wrapper ul li {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    color: grey;
  }
  .header .menu .follower {
    float: right;
    margin-top: -35px;
    height: 25px;
    align-content: center;
  }
  .header .menu .follower span {
    font-size: smaller;
  }
}
@media (min-width: 960px), (min-width: 600px) and (max-width: 960px) {
  .header {
    background-color: white;
    margin-bottom: 20px;
    min-height: 60px;
    box-shadow: 2px 5px 5px #d1d1d1;
  }
  .header .profile {
    display: flex;
  }
  .header .profile .avatar {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .header .profile .bio {
    flex: 1;
    align-self: center;
  }
  .header .profile .bio .name {
    font-size: larger;
    font-weight: bold;
    color: black;
  }
  .header .profile .bio .review {
    color: grey;
    font-size: smaller;
    margin-right: 20px;
    float: right;
  }
  .header .profile .bio .review .star {
    color: #3E9DEB;
  }
  .header .profile .bio .address {
    color: grey;
  }
  .header .profile .bio .phone {
    color: grey;
  }
  .header .logout {
    cursor: pointer;
    color: #3E9DEB;
    background-color: transparent;
    background-image: none;
    border-color: #3E9DEB;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .header .logout:hover {
    background-color: #3E9DEB;
    color: white;
  }
  .header .upload {
    cursor: pointer;
    color: grey;
    background-color: transparent;
    background-image: none;
    border-color: grey;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .header .menu {
    border-top: 1px #d1d1d1 solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -50px;
    margin-left: 190px;
  }
  .header .menu ul {
    list-style-type: none;
  }
  .header .menu ul li {
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
    color: grey;
  }
  .header .menu .follower {
    float: right;
    margin-top: -35px;
    height: 25px;
    align-content: center;
  }
  .header .menu .follower span {
    font-size: smaller;
  }
}

/*# sourceMappingURL=header.css.map */
