@import 'variables';

@media(min-width: $breakpoint-lg-min), (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
  .header {
    background-color: white;
    margin-bottom: 20px;
    min-height: 60px;
    box-shadow: 2px 5px 5px $shadow-color;

    & .profile {
      display: flex;

      & .avatar {
        margin-left: 20px;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }

      & .bio {
        flex: 1;
        align-self: center;

        & .name {
          font-size: larger;
          font-weight: bold;
          color: black;
        }

        & .review {
          color: $font-color-grey;
          font-size: smaller;
          margin-right: 20px;
          float: right;

          & .star {
            color: $btn-logout-color;
          }
        }

        & .address {
          color: $font-color-grey;
        }

        & .phone {
          color: $font-color-grey;
        }
      }
    }

    & .logout {
      cursor: pointer;
      color: $btn-logout-color;
      background-color: transparent;
      background-image: none;
      border-color: $btn-logout-color;
      border-radius: 5px;
      padding: 5px 20px;

      &:hover {
        background-color: $btn-logout-color;
        color: white;
      }
    }

    & .upload {
      cursor: pointer;
      color: $font-color-grey;
      background-color: transparent;
      background-image: none;
      border-color: $font-color-grey;
      border-radius: 5px;
      padding: 5px 20px;
    }

    & .menu {
      border-top: 1px $shadow-color solid;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: -50px;
      margin-left: 190px;

      & ul {
        list-style-type: none;

        & li {
          display: inline;
          padding: 5px 15px;
          cursor: pointer;
          color: $font-color-grey;
        }
      }

      & .follower {
        float: right;
        margin-top: -35px;
        height: 25px;
        align-content: center;

        & span {
          font-size: smaller;
        }
      }
    }
  }
}
