@import 'variables';

@media(max-width: $breakpoint-sm-max) {
  .header {
    background-color: white;
    margin-bottom: 20px;
    min-height: 60px;
    box-shadow: 2px 5px 5px $shadow-color;

    & .profile {
      display: block;

      & .avatar {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }

      & .bio {
        align-self: center;

        & .name {
          font-size: larger;
          font-weight: bold;
          color: black;
          display: block;
          text-align: center;
        }

        & .review {
          color: $font-color-grey;
          font-size: smaller;

          & .star {
            color: $btn-logout-color;
          }
        }

        & .address {
          color: $font-color-grey;
        }

        & .phone {
          color: $font-color-grey;
        }
      }
    }

    & .logout {
      cursor: pointer;
      color: $btn-logout-color;
      background-color: transparent;
      background-image: none;
      border-color: transparent;

      &:hover {
        background-color: $btn-logout-color;
        color: white;
      }
    }

    & .upload {
      display: none;
      cursor: pointer;
      color: $font-color-grey;
      background-color: transparent;
      background-image: none;
      border-color: $font-color-grey;
      border-radius: 5px;
      padding: 5px 20px;
    }

    & .menu {
      border-top: 1px $shadow-color solid;
      padding-top: 5px;
      padding-bottom: 5px;

      & .nav-wrapper {
        max-width: 100%;
        display: block;
        overflow: auto;
        white-space: nowrap;

        & ul {
          list-style-type: none;

          & li {
            display: inline-block;
            padding: 5px 15px;
            cursor: pointer;
            color: $font-color-grey;
          }
        }
      }

      & .follower {
        float: right;
        margin-top: -35px;
        height: 25px;
        align-content: center;

        & span {
          font-size: smaller;
        }
      }
    }
  }
}