@import 'variables';

.form-input {
  // margin: 40px 0;
  width: 100%;

  label {
    position: relative;
    display: block;
    width: 100%;
    min-height: $input-height + $input-top;
  }

  .placeholder {
    position: absolute;
    display: block;
    top: ($input-height / 2) + $placeholder-padding;
    z-index: 2;
    font-size: $placeholder-font-size;
    transition: all $placeholder-transition;
    width: 100%;
    cursor: text;
  }

  input,
  textarea {
    position: absolute;
    top: $input-top;
    z-index: 1;
    width: 100%;
    font-size: $input-font-size;
    border: 0;
    border-bottom: 1px solid $input-border-color;
    transition: border-color $placeholder-transition;
    outline: none;
    padding: 0;
    margin: 0;
  }

  textarea {
    min-height: $input-height;
    padding: $placeholder-padding 0;
  }

  input {
    height: $input-height;
  }

  input:focus,
  input:valid,
  textarea:focus,
  textarea:valid {
    & + .placeholder {
      top: 0;
      cursor: inherit;
      font-size: $placeholder-font-size-small;
      color: $highlight-color;
    }

    border-bottom: 2px solid $highlight-color;
  }
}
