@import 'variables';

@media (min-width: $breakpoint-lg-min) {
  body {
    background-color: $body-color;
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto';
  }

  .container {
    width: 80%;
    margin: 0 auto;

    &.fluid {
      width: 100%;
    }
  }

  .d-none-lg {
    display: none !important;
  }
}

@media (max-width: $breakpoint-sm-max) {
  body {
    background-color: $body-color;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto';
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }  

  .d-none-sm {
    display: none !important;
  }
}

.p-absolute {
  position: absolute !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.ml-1 {
  margin-left: #{$margin-size * 1} !important;
}

.ml-2 {
  margin-left: #{$margin-size * 2} !important;
}

.ml-3 {
  margin-left: #{$margin-size * 3} !important;
}

.ml-4 {
  margin-left: #{$margin-size * 4} !important;
}

.ml-5 {
  margin-left: #{$margin-size * 5} !important;
}

.mr-1 {
  margin-right: #{$margin-size * 1} !important;
}

.mr-2 {
  margin-right: #{$margin-size * 2} !important;
}

.mr-3 {
  margin-right: #{$margin-size * 3} !important;
}

.mr-4 {
  margin-right: #{$margin-size * 4} !important;
}

.mr-5 {
  margin-right: #{$margin-size * 5} !important;
}

.mt-1 {
  margin-top: #{$margin-size * 1} !important;
}

.mt-2 {
  margin-top: #{$margin-size * 2} !important;
}

.mt-3 {
  margin-top: #{$margin-size * 3} !important;
}

.mt-4 {
  margin-top: #{$margin-size * 4} !important;
}

.mt-5 {
  margin-top: #{$margin-size * 5} !important;
}

.mb-1 {
  margin-bottom: #{$margin-size * 1} !important;
}

.mb-2 {
  margin-bottom: #{$margin-size * 2} !important;
}

.mb-3 {
  margin-bottom: #{$margin-size * 3} !important;
}

.mb-4 {
  margin-bottom: #{$margin-size * 4} !important;
}

.mb-5 {
  margin-bottom: #{$margin-size * 5} !important;
}

.pl-1 {
  padding-left: #{$padding-size * 1} !important;
}

.pl-2 {
  padding-left: #{$padding-size * 2} !important;
}

.pl-3 {
  padding-left: #{$padding-size * 3} !important;
}

.pl-4 {
  padding-left: #{$padding-size * 4} !important;
}

.pl-5 {
  padding-left: #{$padding-size * 5} !important;
}

.pr-1 {
  padding-right: #{$padding-size * 1} !important;
}

.pr-2 {
  padding-right: #{$padding-size * 2} !important;
}

.pr-3 {
  padding-right: #{$padding-size * 3} !important;
}

.pr-4 {
  padding-right: #{$padding-size * 4} !important;
}

.pr-5 {
  padding-right: #{$padding-size * 5} !important;
}

.pt-1 {
  padding-top: #{$padding-size * 1} !important;
}

.pt-2 {
  padding-top: #{$padding-size * 2} !important;
}

.pt-3 {
  padding-top: #{$padding-size * 3} !important;
}

.pt-4 {
  padding-top: #{$padding-size * 4} !important;
}

.pt-5 {
  padding-top: #{$padding-size * 5} !important;
}

.pb-1 {
  padding-bottom: #{$padding-size * 1} !important;
}

.pb-2 {
  padding-bottom: #{$padding-size * 2} !important;
}

.pb-3 {
  padding-bottom: #{$padding-size * 3} !important;
}

.pb-4 {
  padding-bottom: #{$padding-size * 4} !important;
}

.pb-5 {
  padding-bottom: #{$padding-size * 5} !important;
}

.btn {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.f-left {
  float: left !important;  
}

.f-right {
  float: right !important;  
}

.text-grey {
  color: grey !important;
}