@import 'variables';

.popup {
	position: fixed;
  margin-top: -35px;
	background: #ffffff;
	border: 1px solid #f5f5f5;
  box-shadow: 2px 5px 5px $shadow-color;
  display: none !important;
  z-index: 10;

  & .inner {
    padding: 10px;
    max-width: 300px;
  }
}
.popup:after, .popup:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 8px;
	margin-top: -8px;
}
.popup:before {
	border-color: rgba(245, 245, 245, 0);
	border-right-color: #f5f5f5;
	border-width: 12px;
	margin-top: -12px;
}