@media (min-width: 960px) {
  body {
    background-color: #F4F8F9;
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Roboto";
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }
  .container.fluid {
    width: 100%;
  }

  .d-none-lg {
    display: none !important;
  }
}
@media (max-width: 600px) {
  body {
    background-color: #F4F8F9;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto";
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .d-none-sm {
    display: none !important;
  }
}
.p-absolute {
  position: absolute !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.ml-2 {
  margin-left: 20px !important;
}

.ml-3 {
  margin-left: 30px !important;
}

.ml-4 {
  margin-left: 40px !important;
}

.ml-5 {
  margin-left: 50px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.mr-2 {
  margin-right: 20px !important;
}

.mr-3 {
  margin-right: 30px !important;
}

.mr-4 {
  margin-right: 40px !important;
}

.mr-5 {
  margin-right: 50px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.pl-1 {
  padding-left: 10px !important;
}

.pl-2 {
  padding-left: 20px !important;
}

.pl-3 {
  padding-left: 30px !important;
}

.pl-4 {
  padding-left: 40px !important;
}

.pl-5 {
  padding-left: 50px !important;
}

.pr-1 {
  padding-right: 10px !important;
}

.pr-2 {
  padding-right: 20px !important;
}

.pr-3 {
  padding-right: 30px !important;
}

.pr-4 {
  padding-right: 40px !important;
}

.pr-5 {
  padding-right: 50px !important;
}

.pt-1 {
  padding-top: 10px !important;
}

.pt-2 {
  padding-top: 20px !important;
}

.pt-3 {
  padding-top: 30px !important;
}

.pt-4 {
  padding-top: 40px !important;
}

.pt-5 {
  padding-top: 50px !important;
}

.pb-1 {
  padding-bottom: 10px !important;
}

.pb-2 {
  padding-bottom: 20px !important;
}

.pb-3 {
  padding-bottom: 30px !important;
}

.pb-4 {
  padding-bottom: 40px !important;
}

.pb-5 {
  padding-bottom: 50px !important;
}

.btn {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.text-grey {
  color: grey !important;
}

@media (max-width: 600px) {
  .header {
    background-color: white;
    margin-bottom: 20px;
    min-height: 60px;
    box-shadow: 2px 5px 5px #d1d1d1;
  }
  .header .profile {
    display: block;
  }
  .header .profile .avatar {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .header .profile .bio {
    align-self: center;
  }
  .header .profile .bio .name {
    font-size: larger;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
  }
  .header .profile .bio .review {
    color: grey;
    font-size: smaller;
  }
  .header .profile .bio .review .star {
    color: #3E9DEB;
  }
  .header .profile .bio .address {
    color: grey;
  }
  .header .profile .bio .phone {
    color: grey;
  }
  .header .logout {
    cursor: pointer;
    color: #3E9DEB;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }
  .header .logout:hover {
    background-color: #3E9DEB;
    color: white;
  }
  .header .upload {
    display: none;
    cursor: pointer;
    color: grey;
    background-color: transparent;
    background-image: none;
    border-color: grey;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .header .menu {
    border-top: 1px #d1d1d1 solid;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header .menu .nav-wrapper {
    max-width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
  .header .menu .nav-wrapper ul {
    list-style-type: none;
  }
  .header .menu .nav-wrapper ul li {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    color: grey;
  }
  .header .menu .follower {
    float: right;
    margin-top: -35px;
    height: 25px;
    align-content: center;
  }
  .header .menu .follower span {
    font-size: smaller;
  }
}
@media (min-width: 960px), (min-width: 600px) and (max-width: 960px) {
  .header {
    background-color: white;
    margin-bottom: 20px;
    min-height: 60px;
    box-shadow: 2px 5px 5px #d1d1d1;
  }
  .header .profile {
    display: flex;
  }
  .header .profile .avatar {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .header .profile .bio {
    flex: 1;
    align-self: center;
  }
  .header .profile .bio .name {
    font-size: larger;
    font-weight: bold;
    color: black;
  }
  .header .profile .bio .review {
    color: grey;
    font-size: smaller;
    margin-right: 20px;
    float: right;
  }
  .header .profile .bio .review .star {
    color: #3E9DEB;
  }
  .header .profile .bio .address {
    color: grey;
  }
  .header .profile .bio .phone {
    color: grey;
  }
  .header .logout {
    cursor: pointer;
    color: #3E9DEB;
    background-color: transparent;
    background-image: none;
    border-color: #3E9DEB;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .header .logout:hover {
    background-color: #3E9DEB;
    color: white;
  }
  .header .upload {
    cursor: pointer;
    color: grey;
    background-color: transparent;
    background-image: none;
    border-color: grey;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .header .menu {
    border-top: 1px #d1d1d1 solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -50px;
    margin-left: 190px;
  }
  .header .menu ul {
    list-style-type: none;
  }
  .header .menu ul li {
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
    color: grey;
  }
  .header .menu .follower {
    float: right;
    margin-top: -35px;
    height: 25px;
    align-content: center;
  }
  .header .menu .follower span {
    font-size: smaller;
  }
}
.content {
  background-color: white;
  min-height: 100px;
  box-shadow: 2px 5px 5px #d1d1d1;
  padding: 20px;
  color: grey;
}
.content .title {
  color: black !important;
  font-weight: bold;
  font-size: larger;
}
.content .name {
  background-color: #F4F8F9;
  color: black;
  font-weight: bold;
  width: fit-content;
  padding-left: 5px;
  display: inline-block;
}
.content .website, .content .phone, .content .location {
  background-color: #F4F8F9;
  color: black;
  width: fit-content;
  font-size: smaller;
  padding-left: 5px;
  display: inline-block;
}
@media (max-width: 600px) {
  .content .name, .content .website, .content .phone, .content .location {
    background-color: transparent !important;
  }
}
.content .edit {
  cursor: pointer;
  color: grey;
  background-color: #e3e5e6;
  background-image: none;
  border-color: transparent;
  padding-top: 5px;
}
.content .edit:hover {
  background-color: #3E9DEB;
  color: white;
}
.content .action {
  display: none;
}
.content .action .save {
  cursor: pointer;
  color: white;
  background-color: #3E9DEB;
  background-image: none;
  border-color: transparent;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px #3E9DEB solid;
  min-width: 75px;
}
.content .action .cancel {
  cursor: pointer;
  color: #3E9DEB;
  background-color: white;
  background-image: none;
  border-color: transparent;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px #3E9DEB solid;
  min-width: 75px;
}
@media (max-width: 600px) {
  .content .action .cancel, .content .action .save {
    background-color: transparent !important;
    border: 0px;
    color: #3E9DEB !important;
    min-width: 50px;
  }
}

#about {
  display: block;
}

#setting, #option1, #option2, #option3 {
  display: none;
}

.form-input {
  width: 100%;
}
.form-input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
}
.form-input .placeholder {
  position: absolute;
  display: block;
  top: 23px;
  z-index: 2;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
}
.form-input input,
.form-input textarea {
  position: absolute;
  top: 15px;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid grey;
  transition: border-color 200ms ease-in-out;
  outline: none;
  padding: 0;
  margin: 0;
}
.form-input textarea {
  min-height: 30px;
  padding: 8px 0;
}
.form-input input {
  height: 30px;
}
.form-input input:focus,
.form-input input:valid,
.form-input textarea:focus,
.form-input textarea:valid {
  border-bottom: 2px solid #3E9DEB;
}
.form-input input:focus + .placeholder,
.form-input input:valid + .placeholder,
.form-input textarea:focus + .placeholder,
.form-input textarea:valid + .placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: #3E9DEB;
}

.popup {
  position: fixed;
  margin-top: -35px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 2px 5px 5px #d1d1d1;
  display: none !important;
  z-index: 10;
}
.popup .inner {
  padding: 10px;
  max-width: 300px;
}

.popup:after, .popup:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popup:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}

.popup:before {
  border-color: rgba(245, 245, 245, 0);
  border-right-color: #f5f5f5;
  border-width: 12px;
  margin-top: -12px;
}

/*# sourceMappingURL=style.css.map */
