$body-color: #F4F8F9;
$margin-size: 10px;
$padding-size: 10px;

$btn-logout-color: #3E9DEB;
$shadow-color: #d1d1d1;
$font-color-grey: grey;
$title-color: black;

$color-grey-light: #e3e5e6;

// Screen
$breakpoint-sm-max: 600px;
$breakpoint-md-min: 600px;
$breakpoint-md-max: 960px;
$breakpoint-lg-min: 960px;

// Input
$highlight-color: #3E9DEB;
$placeholder-padding: 8px;
$placeholder-font-size: 16px;
$placeholder-font-size-small: 14px;
$placeholder-transition: 200ms ease-in-out;
$input-font-size: 16px;
$input-top: 15px;
$input-height: 30px;
$input-border-color: grey;
